*{
  overflow: auto;
}
body{
    background-color: blueviolet;
    font-family: Arial;
    margin: 0px;
}
h1{
    text-align: center;
    margin-bottom: 12px;
    margin-top: 10px;
    
}
p.categorie{
    background-color: black;
    color: white;
    display: inline-block;
    margin-top: -15px;
    padding: 8px 18px;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 16px;
}
div.contenu{
    background-color: white;
    margin: 40px 8PX 80px 8px;
    padding: 0px 8px 20px 8px ;
    min-width: 350px;
    box-shadow: 0px 0px 8px 8px dimgray;
    overflow: visible;

}
p.description{
    text-align: center;
    max-width: 400px;
    display: inline-block;
    font-size: 14px;


}
.center{
    text-align: center;
    width: 100%;



}
div.categorie{
    margin-bottom: 0px;
    margin-top: 0px;
    overflow: visible;
}
div.separateur{
    width: 100px;
    height: 1px;
    background-color: blue;
    margin-left: auto;
    margin-right: auto;
}
div.info{
    position:relative
}
  table.info{
    position:absolute; 
    bottom:0px; 
    width:100%; 
    color:white ; 
    background-color: #6C829DC0 ; 
    height: 50px;

  }
  table.info td{
    text-align: center;
    font-size: 12px;
    vertical-align: top;
  }
  table.info th{
    font-size: 16px;
    vertical-align: bottom;
    padding: 2px;
  }
  img.info{
    display: block;
    max-height: 400px;
    object-fit:cover;
    min-height: 200px;
    background-color: lightslategray;
  }
  div.colone{
    width: 100%;
    margin-top: 16px;

  }
  div.colone1{
    display: inline-block;
   
  }
  div.colone h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    border-bottom: 5px solid #6C829D ;
    padding-bottom: 5px;
  }
  div.ingredien p {
    text-align: center;
    font-size: 14px;
    border: 1px solid lightgrey ;
    padding: 8px;
    margin-top: 4px;
    margin-bottom: 0px;
  }
  table.preparation p.nbr{
    background-color: #6C829D;
    color: white;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding-top: 5px;
    box-sizing: border-box;
    border-radius: 50%;
    margin:8px;
  }
  table.preparation td {
    vertical-align: top;
    
  }
  table.preparation td.preparation_etap{
    font-size: 14px;
    padding-left: 10px;
    padding-bottom: 10px;

  }
  table.preparation tr {
    height: 40px;


  }
  @media only screen and (min-width: 768px) {
    /* For ordinateur: */
    div.contenu{
      margin: 40px 8PX 80px 8px;
      padding: 0px 8px 20px 8px ;
      min-width: 350px;
      max-width: 650px;
  }
  table.info{
    height: 60px;
  }
  table.info td{
    font-size: 16px;
  }
  table.info th{
    font-size: 16px;
    
  }
  div.colone{
    width: 45%;
  }
  div.colone1{
    margin-right: 10%;
  }
  div.colone2{
    float:right;
  }
  

  }
  @media only screen and (min-width: 900px) {
    div.contenu{
     margin-left: auto;
     margin-right: auto;
     width: 645px;
  }